* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  border: none;
}

html {
  margin: 0;
}

body {
  height: 100vh;
  margin: 0;
}

.mail-navbar {
  display: flex;
  width: 100%
}

.btn {
  background-color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
}

#root {
  height: 100%;
}

.main-app {
  height: 100%;
}

.email-nav {
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  height: 100%;
  padding-top: 20px;
  align-items: center;
}

.email-nav-btn:nth-child(1) {
  margin-bottom: 20px;
  background-color: cornsilk;
}

.email-nav-btn {
  width: 100px;
  padding: 1px;
  margin-bottom: 2px;
  border-radius: 10px;
  border: 1px solid;
  cursor: pointer;
}

.email-nav-btn:hover {
  background-color: darkcyan;
}

.email-nav-btn:active {
  background-color: darkcyan;
}

.emails-main {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 80px 1fr;
  height: calc(100% - 60px);
}

.email-header {
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #47c9af;
  padding: 10px;
}

.emails-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.email-list {
  overflow-y: auto;
}

.unread-count {
  border-bottom: 1px solid;
  padding: 5px;
}

.email-container {
  display: grid;
  border-bottom: 1px solid gray;
  /* border-top: 1px solid gray; */
  grid-template-columns: 1fr 100px;
  align-items: baseline;
}

.mail-preview {
  display: grid;
  width: 100%;
  grid-template-columns: 100px 1fr 100px;
  height: 30px;
  align-items: center;
}

.mail-preview>* {
  color: black;
}

.preview-side {
  width: 100px;
}

.email-link {
  width: 100%;
}

.email-actions {
  width: 100px;
}

.filter-container {
  display: flex;
}

.read {
  color: #2a4a59;
}

.unRead {
  color: black;
  font-weight: bold;
}

.mark-read {
  background-color: white;
  border: none;
}

.reademail-subject {
  font-size: 1.5rem;
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between
}

.from {
  border-bottom: 1px solid black;
}

/* new email */

.email-subject {
  width: 50%;
}

.new-email-compose {
  display: grid;
  /* grid-template-columns: 1fr 30px; */
  grid-template-rows: 30px 1fr 35px;
  width: 50%;
  height: 380px;
}

.email-buttons-container {
  display: flex;
  justify-content: space-between;
  /* border-bottom: 1px solid black; */
  padding: 5px;
}

.email-body {
  /* grid-column: span 2; */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.send-btn {
  border-color: initial;
  border: 1px solid black;
  border-style: inset;
  background-color: white;
  padding: 0;
  cursor: pointer;
}

.compose-contaimer {
  display: flex;
  justify-content: center;
}

.new-email-header {
  width: 100%;
  text-align: center;
  height: 30px;
  background-color: tomato;
  margin-bottom: 20px;
}

/* html{

    margin: 0;
}
.Green{
color: green;

}

a{
    text-decoration: none;
}

.Red {
color:red

}

.sale{
background-color: green;
font-size: 30px;
height: 100px;
width: 100%;
border: black 3px solid;
text-align: center;

}

.read-more{
cursor: pointer;
}

.books-container{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill,minmax(400px,400px));
    grid-auto-rows: 500px;
    align-items: center;
    justify-content: center;
   
}

.book-details{
display: flex;
justify-content: space-around;
}

.reviews{
display: flex;
flex-direction: column;

}

.delete:hover{
cursor: pointer;
    
}

.about{
height: 100%;
font-size: 20px;
line-height: 50px;

}

h1{
	font-family: 'Playfair Display', serif;
	font-size: 5em;
    color: #9e9ba4;
    text-transform: capitalize;
    margin-bottom: 50px;
}
input[type="checkbox"]{
	width:100%;
	height:100%;
	opacity:0;
	cursor:pointer;	
}
label{
	position:relative;
	width: 50px;
    height: 50px;
    display: inline-block;	
}
.check::before, .rated::after{
	content:'\2605';
	font-size:60px;
	position:absolute;
	color:#777;
	left:0;
	bottom:0;
    line-height: 50px;	
}
.rated::after{
	color:orange;
}
.check:hover::before{
	color:orange;
}
label i{
	position:absolute;

	font-size:35px;
}
label i.em{
	display:none;	
}
img{
    transition: all .2s ease-in-out;
}
*/

@import url(http://fonts.googleapis.com/css?family=Raleway);
#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*#cssmenu {
   margin-bottom: 30px; 
}*/

#cssmenu:after, #cssmenu>ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#cssmenu {
  width: auto;
  border-bottom: 3px solid #47c9af;
  font-family: Raleway, sans-serif;
  line-height: 1;
}

#cssmenu ul {
  background: #ffffff;
}

#cssmenu>ul>li {
  float: left;
}

#cssmenu.align-center>ul {
  font-size: 0;
  text-align: center;
}

#cssmenu.align-center>ul>li {
  display: inline-block;
  float: none;
}

#cssmenu.align-right>ul>li {
  float: right;
}

#cssmenu.align-right>ul>li>a {
  margin-right: 0;
  margin-left: -4px;
}

#cssmenu>ul>li>a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 25px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}

#cssmenu>ul>li.active>a, #cssmenu>ul>li:hover>a, #cssmenu>ul>li>a:hover {
  color: #ffffff;
}

#cssmenu>ul>li>a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}

#cssmenu>ul>li:hover>a:after, #cssmenu>ul>li>a:hover:after {
  background: #47c9af;
}

/* .sideNavBar{

  display: flex;
} */

main {
  display: flex;
}

.emailNav {
  display: flex;
  flex-direction: row;
}

.Notes-container {
  column-count: 4;
  column-gap: 1em;
  margin-left: 10px;
  margin-right: 10px;
}

.keep-app{
  background-color: lightgray;

}


.note {
  border-color: #e0e0e0;
  border-radius: 20px;
  border: 1px solid;
  background-color: #eee;
  margin: 0 0 1em;
  width: 100%;
  background: #fefefe;
  border: 2px solid #fcfcfc;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  padding-bottom: 10px;
  transition: opacity .4s ease-in-out;
  display: inline-block;
}

.clickable-item:hover {
  cursor: pointer;
}

.done {
  text-decoration: line-through;
  opacity: 0.5;
}

.text-box {
  background-color: inherit;
  font-size: 14px;
}

.note-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 88%
}

.notes-input {
  border: none
}

.note-add-container {
  background-color: lightgray;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  align-items: center;
  display: flex;
  background-color: white;
  width: 50%;
  height: 50%;
  justify-content: space-around;
  
}

.note-add-input {
  border: none;
  font-size: 16px;
  width: 52%
}

.note-add-buttons-container {
  display: flex;
  justify-content: center;
}

.emailNav {
  display: flex;
  flex-direction: row;
}

/* 
.Notes-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  grid-auto-rows: 500px;
  align-items: center;

} */

.note-button-img {
  height: 30px;
}

.note-button:hover {
  background-color: lightgray;
  cursor: pointer;
}

.note-button {
  text-decoration: none;
  list-style: none;
  box-shadow: none;
  border: none;
  background-color: white;
}

.note-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8px
}

.note-label {
  font-size: 16px;
  border-bottom: black 1px solid;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.note-controller-img {
  filter: invert(1);
  height: 23px;
}

.note-controller button {
  background-color: inherit;
  text-decoration: none;
  list-style: none;
  box-shadow: none;
  border: none;
}

.note-controller-img:hover {
  filter: invert(0);
  cursor: pointer;
}

.note-search-container {
  height: 41px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.note-search-controller-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}


.note-search-input{
  height: 100%;
  
  }
  
  .note-search-select{
      height: 100%;
      
      }



.color-input {
  opacity: 0;
  width: 100%;
  height: 100%;
}

.color-div {
  display: inline-block;
  background: url(/img/icons8-paint-palette-48.png) no-repeat;
  background-position: center;
  height: 27px;
  width: 34px;
  background-color: inherit;
  filter: invert(1);
}

.color-div:hover {
  filter: invert(0);
  cursor: pointer;
}

.color-input:hover {
  cursor: pointer;
}

.note-controller {
  margin-top: 5px
}

.note-controller-img {
  filter: invert(1);
  height: 23px;
}

.note-controller-img-false {
  filter: invert(1);
  height: 23px;
}

.note-controller-img-true {
  filter: invert(0);
  height: 23px;
}

.note-controller-img-false:hover {
  filter: invert(0);
  cursor: pointer;
}

.note-controller-img-true:hover {
  filter: invert(1);
  cursor: pointer;
}

#map {
  height: 50%;
  width: 200px;
  position: absolute;
  overflow: hidden;
}

.map-container {
  width: 196px;
  height: 300px;
}

/* 
#map iframe,
#map object,
#map embed {
  position: relative;
top: 0;
left: 0;
width: 100%;
height: 100%;
} */

/* .note {
  background-color: lightblue;
  height: 300px;
  border-color: #e0e0e0;
  border-radius: 20px;
  border: 1px solid;
}

.clickable-item:hover {
  cursor: pointer;
}

.done {
  text-decoration: line-through;
}

.text-box {
  background-color: inherit;
} */

.note-search-img {
  height: 30px;
  cursor: pointer;
}

.note-search-button {
  text-decoration: none;
  list-style: none;
  box-shadow: none;
  border: none;
  background-color: white;
  cursor: pointer;
}

audio {
  width: 80%;
}

.notes-textarea {
  resize: none;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.todos-list-container{
  padding-left: 0;
  text-align: center;

}

select{
  cursor: pointer;
}

@media screen and (max-width: 1000px) {

  .Notes-container {
  
    column-count: 3;

}

}


@media screen and (max-width: 870px) {

  .Notes-container {
  
    column-count: 2;

}

}


@media screen and (max-width: 450px) {

  .Notes-container {
  
    /* column-count: 1; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.note {

width: 80%;

}



}

