.mail-navbar {
  display: flex;
  width: 100%
}

.btn {
  background-color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
}

.email-nav {
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
}

.emails-main {
  display: flex;
  flex-direction: row;
}

.emais-list {
  display: flex;
  flex-direction: column;
}

.emails-container {
  display: flex;
}

.filter-container {
  width: 100%;
  display: flex;
}

* {
  text-decoration: none;
  list-style: none;
}

.read {
  color: grey;
}

.unRead {
  color: black;
  font-weight: bold;
}

.mark-read {
  background-color: white;
  border: none;
}

.reademail-subject {
  font-size: 1.5rem;
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between
}

.from {
  border-bottom: 1px solid black;
}

/* html{

    margin: 0;
}
.Green{
color: green;

}

a{
    text-decoration: none;
}

.Red {
color:red

}

.sale{
background-color: green;
font-size: 30px;
height: 100px;
width: 100%;
border: black 3px solid;
text-align: center;

}

.read-more{
cursor: pointer;
}

.books-container{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill,minmax(400px,400px));
    grid-auto-rows: 500px;
    align-items: center;
    justify-content: center;
   
}

.book-details{
display: flex;
justify-content: space-around;
}

.reviews{
display: flex;
flex-direction: column;

}

.delete:hover{
cursor: pointer;
    
}

.about{
height: 100%;
font-size: 20px;
line-height: 50px;

}

h1{
	font-family: 'Playfair Display', serif;
	font-size: 5em;
    color: #9e9ba4;
    text-transform: capitalize;
    margin-bottom: 50px;
}
input[type="checkbox"]{
	width:100%;
	height:100%;
	opacity:0;
	cursor:pointer;	
}
label{
	position:relative;
	width: 50px;
    height: 50px;
    display: inline-block;	
}
.check::before, .rated::after{
	content:'\2605';
	font-size:60px;
	position:absolute;
	color:#777;
	left:0;
	bottom:0;
    line-height: 50px;	
}
.rated::after{
	color:orange;
}
.check:hover::before{
	color:orange;
}
label i{
	position:absolute;

	font-size:35px;
}
label i.em{
	display:none;	
}
img{
    transition: all .2s ease-in-out;
}



 img:hover {
  transform: scale(1.1);
} */

@import url(http://fonts.googleapis.com/css?family=Raleway);
#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#cssmenu {
  margin-bottom: 30px;
}

#cssmenu:after, #cssmenu>ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#cssmenu {
  width: auto;
  border-bottom: 3px solid #47c9af;
  font-family: Raleway, sans-serif;
  line-height: 1;
}

#cssmenu ul {
  background: #ffffff;
}

#cssmenu>ul>li {
  float: left;
}

#cssmenu.align-center>ul {
  font-size: 0;
  text-align: center;
}

#cssmenu.align-center>ul>li {
  display: inline-block;
  float: none;
}

#cssmenu.align-right>ul>li {
  float: right;
}

#cssmenu.align-right>ul>li>a {
  margin-right: 0;
  margin-left: -4px;
}

#cssmenu>ul>li>a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 25px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}

#cssmenu>ul>li.active>a, #cssmenu>ul>li:hover>a, #cssmenu>ul>li>a:hover {
  color: #ffffff;
}

#cssmenu>ul>li>a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}

#cssmenu>ul>li:hover>a:after, #cssmenu>ul>li>a:hover:after {
  background: #47c9af;
}

/* .sideNavBar{

  display: flex;
} */

main {
  display: flex;
}

.emailNav {
  display: flex;
  flex-direction: row;
}

.Notes-container {
  /* display: grid; */
  /* gap: 10px;
  grid-template-columns: repeat(auto-fill,minmax(400px,400px));
  grid-auto-rows: 500px; */
  /* align-items: center;
  justify-content: center; */
  column-count: 4;
  column-gap: 1em;
}

.note {
 
  border-color: #e0e0e0;
  border-radius: 20px;
  border: 1px solid;
  background-color: #eee;
  margin: 0 0 1em;
  width: 100%;
  background: #fefefe;
  border: 2px solid #fcfcfc;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  padding-bottom: 10px;
  transition: opacity .4s ease-in-out;
  display: inline-block;
}



.clickable-item:hover {
  cursor: pointer;
}

.done {
  text-decoration: line-through;
  opacity: 0.5;
}

.text-box {
  background-color: inherit;
  font-size: 14px;
}

.note-img{
  margin-left: auto;
  margin-right: auto;
  display: block;

}
.notes-input{

  border: none
}

.note-add-container{
background-color: lightgray;
height: 80px;

display: flex;
justify-content: center;
align-items: center;
}

.form-container{
align-items: center;
display: flex;
background-color: white;
width: 50%;
height: 50%;
justify-content: space-around;
}

.note-add-input{
border: none;
font-size: 16px;
width: 52%
}

.note-add-buttons-container{
  display: flex;
  justify-content: center;
  align-items: center;

}

.note-button-img{

  height: 30px;

}

.note-button:hover{

 background-color: lightgray;
  cursor: pointer;
}
.note-button{
  text-decoration: none;
    list-style: none;
    box-shadow: none;
    border: none;
    background-color: white;

}



.note-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top:8px
}


.note-label{
  font-size: 16px;
  border-bottom: black 1px solid;
  margin-bottom: 5px;
  width: 100%;
}

.note-controller-img{
  filter: invert(1);
  height: 23px;
}

.note-controller button{
  background-color: inherit;
  text-decoration: none;
  list-style: none;
  box-shadow: none;
  border: none;
}

.note-controller-img:hover{
  filter: invert(0);
  cursor: pointer;
}


.note-search-container{
  
  height: 80px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.color-input{
opacity: 0;
width: 100%;
height: 100%;
}

.color-div{


    display: inline-block;
    background: url(/img/icons8-paint-palette-48.png) no-repeat;
    background-position: center;
    height: 27px;
    width: 34px;
    background-color: inherit;
    filter: invert(1);
}

.color-div:hover{
  filter: invert(0);
  cursor: pointer;
}
.color-input:hover{

  cursor: pointer;
}
.note-controller-img{
  filter: invert(1);
  height: 23px;
}

.note-controller-img-false{
  filter: invert(1);
  height: 23px;
}

.note-controller-img-true{
  filter: invert(0);
  height: 23px;
}

.note-controller-img-false:hover{
  filter: invert(0);
  cursor: pointer;
}
.note-controller-img-true:hover{
  filter: invert(1);
  cursor: pointer;
}

#map{
  height: 50%;
  width: 300px;
  position: absolute;
    overflow: hidden;

}


/* 
#map iframe,
#map object,
#map embed {
  position: relative;
top: 0;
left: 0;
width: 100%;
height: 100%;
} */